html,
body {
    height: 100%;
}

#contrainer {
    min-height: 100%;
 
}

header {

    color: coral;

}

#img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

#card {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 30%;
}

#root{
    margin-top: 30px;
}



footer {
    background-color: coral;
    color: aliceblue;
    position: relative
}